.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #3a3a3c;
}

.header-puzzle-w {
  height: 60px;
  width: 65px;
}

.header-puzzle-w:hover, .question-mark-icon:hover, .player-stats-icon:hover {
  transform: scale(1.05);
}

.question-mark-icon, .player-stats-icon {
  height: 30px;
  width: 30px;
}

.header-text {
  color: #3a3a3c;
  display: flex;
  align-items: center;
  font-size: 36px;
}

.question-mark-icon, .app-name-container {
  margin-right: 22px;
}