.typed-letter {
  background-color: #efefef;
  border: 1px solid black;
  height: 62px;
  width: 62px;
  justify-self: center;
  text-align: center;
}

.user-guess-row-container {
  display: grid;
  grid-template-columns: repeat(5, 62px);
  justify-content: center;
  grid-gap: 5px;
}