.game-board-header {
  height: 50px;
  text-align: center;
}

.new-game-button-container, .new-game-button {
  height: 20px;
  cursor: pointer;
}

.correct-answer-message, .congratulations-message {
  color: #3a3a3c;
}