button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.letter-button, .enter-button, .delete-button {
  text-transform: capitalize;
}

.keyboard {
  display: grid;
  justify-content: center;
  justify-items: center;
}