.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.button {
  text-transform: capitalize;
  height: 58px;
  font-weight: 600;
  font-size: 14px;
  margin-left: 3px;
  margin-right: 3px;
}

.letter-button {
  width: 43px;
}

.enter-button, .delete-button {
  width: 65px;
}

.keyboard {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-gap: 6px;
  padding-bottom: 16px;
}

.letter-button.green,
.letter-button.yellow,
.letter-button.dark-grey {
  color: #ffffff;
}

.green {
  background-color: #49d395;
}

.yellow {
  background-color: #D2E552;
}

.dark-grey {
  background-color: #3a3a3c;
}

@media (max-width: 500px) {
  .letter-button {
    width: 34px;
  }
  
  .enter-button, .delete-button {
    width: 52px;
    font-size: 12px;
    padding: 0px;
  }

  .button {
    height: 46px;
  }
}

@media (max-width: 410px) {
  .letter-button {
    width: 31px;
  }
  
  .enter-button, .delete-button {
    width: 47px;
  }

  .button {
    height: 41px;
  }
}